---
layout: note
style: wiki
title: 私擬憲法
description: e-gov法令データ提供システム「日本国憲法」(http://law.e-gov.go.jp/htmldata/S21/S21KE000.html)ならびに「大日本帝国憲法」(http://www.ndl.go.jp/constitution/etc/j02.html)を基に作成
category: note
tags: ["憲法"]
mtitle: 「改正」の章に着手
mdescription: |
  課題
  ・特別裁判所(軍事法廷)の扱いをどうするか．
date: 2015-09-18 20:20:02
gist_id: e7426492b7bb92d260a1
gist_revision: 0d8bd0b84b68f43428121a44a67cc0812f73f7c1
---
{% include JB/setup %}





{% assign _kenp_list = site.data.kenp %}


{% assign _group = "前文" %}
<h2>{{ _group }}</h2>
<div title="前文">
{% for item in _kenp_list %}{% if item.group != null and item.content != null %}
{% if item.group != _group %}{% break %}{% endif %}
<p>{{ item.content }}</p>
{% endif %}{% endfor %}
{% assign _group = nil %}
</div>





{% assign _group = "条文" %}
<h2>{{ _group }}</h2>
<ol title="{{ _group }}" style="list-style-type:cjk-ideographic;" start=0>
{% assign _article = null %}
{% assign _clause = null %}
{% for item in _kenp_list %}{% if item.group == _group and item.content != null %}

	{% if item.article == null or item.article != _article %}
		{% if _article != null %}</li>
		</ol></li>{% endif %}
		{% if item.article == null %}<h3>{{ item.content }}</h3>
		{% else %}<li title="{{ item.section }}"><ol>
		<li>{% endif %}

	{% elsif item.clause != _clause %}
		{% if _clause != null %}</li>{% endif %}
		<li>
	{% endif %}

	{% if item.para != null %}
		<p>{{ item.content }}</p>
	{% endif %}

	{% assign _article = item.article %}
	{% assign _clause = item.clause %}
{% endif %}{% endfor %}

{% if _article != null %}
</li>
</ol></li>
{% endif %}
{% assign _article = nil %}
{% assign _clause = nil %}

</ol>
{% assign _group = nil %}


{% assign _kenp_list = nil %}





<pre><cite>
〔原文〕
	大日本帝国憲法
	<a href="http://www.ndl.go.jp/constitution/etc/j02.html">http://www.ndl.go.jp/constitution/etc/j02.html</a>
	日本国憲法
	（昭和二十一年十一月三日憲法）
	<a href="http://law.e-gov.go.jp/htmldata/S21/S21KE000.html">http://law.e-gov.go.jp/htmldata/S21/S21KE000.html</a>
</cite></pre>





{% if page.gist_revision %}<p id="revision">revision: <tt><a href="http://gist.github.com/{{ page.gist_id }}/{{ page.gist_revision }}">{{ page.gist_revision }}</a></tt></p>
{% endif %}
