---
layout: note
style: wiki
title: 私擬憲法
description: e-gov法令データ提供システム「日本国憲法」(http://law.e-gov.go.jp/htmldata/S21/S21KE000.html)ならびに「大日本帝国憲法」(http://www.ndl.go.jp/constitution/etc/j02.html)を基に作成
category: note
tags: ["憲法"]
mtitle: 文言・表現の改変＋「摂政」の条に条件を付加
mdescription: 0条＋1章
date: 2017-01-05 15:05:22
---
{% include JB/setup %}





{% assign _kenp_list = site.data.kenp %}


{% assign _group = "前文" %}
<h2>{{ _group }}</h2>
<div title="前文">
{% for item in _kenp_list %}{% if item.group != null and item.content != null %}
{% if item.group != _group %}{% break %}{% endif %}
<p>{{ item.content }}</p>
{% endif %}{% endfor %}
{% assign _group = nil %}
</div>





{% assign _group = "条文" %}
<h2>{{ _group }}</h2>
<ol title="{{ _group }}" style="list-style-type:cjk-ideographic;" start=0>
{% assign _article = null %}
{% assign _clause = null %}
{% assign _idx_a = 0 %}
{% assign _idx_c = 0 %}
{% assign _idx_p = 0 %}
{% for item in _kenp_list %}{% if item.group == _group and item.content != null %}

	{% if item.article == null or item.article != _article %}
		{% if _article != null %}</li>
		</ol></li>{% assign _idx_a = _idx_a | plus:1 %}{% endif %}
		{% if item.article == null %}<h3>{{ item.content }}</h3>
		{% else %}<li title="{{ item.section }}"><a name="{{ _idx_a }}"></a><ol>{% assign _idx_c = 1 %}{% assign _idx_p = 0 %}
		<li><a name="{{ _idx_a }}_{{ _idx_c }}"></a>{% endif %}

	{% elsif item.clause != _clause %}
		{% if _clause != null %}</li>{% assign _idx_c = _idx_c | plus:1 %}{% assign _idx_p = 0 %}{% endif %}
		<li><a name="{{ _idx_a }}_{{ _idx_c }}"></a>
	{% endif %}

	{% if item.para != null %}
		<p><a name="{{ _idx_a }}_{{ _idx_c }}_{{ _idx_p }}"></a>{{ item.content }}</p>{% if item.interp != null %}<ul type="square" style="opacity:0.5;"><li><span class="footnote">{{ item.interp }}</span></li></ul>{% endif %}
	{% assign _idx_p = _idx_p | plus:1 %}{% endif %}

	{% assign _article = item.article %}
	{% assign _clause = item.clause %}
{% endif %}{% endfor %}

{% if _article != null %}
</li>
</ol></li>
{% endif %}
{% assign _article = nil %}
{% assign _clause = nil %}
{% assign _idx_a = nil %}
{% assign _idx_c = nil %}
{% assign _idx_p = nil %}

</ol>
{% assign _group = nil %}


{% assign _kenp_list = nil %}





<pre><cite>
〔原文〕
	大日本帝国憲法
	<a href="http://www.ndl.go.jp/constitution/etc/j02.html">http://www.ndl.go.jp/constitution/etc/j02.html</a>
	日本国憲法
	（昭和二十一年十一月三日憲法）
	<a href="http://law.e-gov.go.jp/htmldata/S21/S21KE000.html">http://law.e-gov.go.jp/htmldata/S21/S21KE000.html</a>
</cite></pre>





{% assign _gist = site.data.kenp_gist %}
<div id="gist">
revision: <tt id="revision"><a href="{{ _gist.html_url }}/{{ _gist.history[0].version }}">{{ _gist.history[0].version }}</a></tt>
<tt>({{ _gist.updated_at }})</tt>
</div>
