---
layout: wiki
style: wiki
title: 私擬憲法
description: e-gov法令データ提供システム「日本国憲法」(http://law.e-gov.go.jp/htmldata/S21/S21KE000.html)を基に作成
category: note
tags: ["憲法"]
mtitle: 作成
mdescription: 
date: 2015-08-28 14:07
gist_id: e7426492b7bb92d260a1
gist_revision: d5a9ccd17ec6e83266d3c7c4cad1ba9658ed124c
---
{% include JB/setup %}





{% assign _section_list = site.data.kenp %}
<pre>
{{ site.data.kenp | jsonify }}
</pre>


<h2>前文</h2>
<div title="前文">
{% assign _section = null %}
{% for item in _section_list %}{% if item.section != null %}
	{% if item.section != _section %}{% break %}{% endif %}
	{% assign _section = item.section %}
{% endif %}
	<p>{{ item.content }}</p>
{% endfor %}
</div>





<h2>条文</h2>
<ol title="条文">
{% assign _section = null %}
{% assign _article = null %}
{% assign _clause = "1" %}
{% for item in _section_list %}{% if item.section != null %}

	{% if item.article == null %}
		{% assign _section = item.content %}
<h3>{{ _section }}</h3>
		{% continue %}

	{% elsif item.article != _article %}
		{% if _article != null %}
</li>
</ol></li>{% endif %}
		{% assign _article = item.article %}
<li title="{{ _section }}"><ol>
<li>

	{% elsif item.clause != _clause %}
</li>
		{% assign _clause = item.clause %}
<li>
	{% endif %}

<p>{{ item.content }}</p>

{% endif %}{% endfor %}
{% assign _section = nil %}
{% assign _article = nil %}
{% assign _clause = nil %}
</ol>

{% assign _section_list = nil %}





<pre><cite>
〔原文〕
	日本国憲法
	（昭和二十一年十一月三日憲法）
	<a href="http://law.e-gov.go.jp/htmldata/S21/S21KE000.html">http://law.e-gov.go.jp/htmldata/S21/S21KE000.html</a>
</cite></pre>





<h2><span class="title">履歴</span></h2>
{% assign posts_collate = site.posts %}
{% include custom/posts_collate_history %}





{% if page.gist_revision %}<p id="revision"><a href="http://gist.github.com/{{ page.gist_id }}/{{ page.gist_revision }}">{{ page.gist_revision }}</a></p>
{% endif %}
