<html>
<head>
<title>{{ page.url | replace:'/gist/','gist#' | remove:'.html' }}{% if page.title %} - {{ page.title }} {% endif %}</title>
<link rel="stylesheet" href="/css/gist.css">
<link rel="stylesheet" href="embed.css">
</head>
<noframe>
<body>


<div id="main">


<h1>
<a href="{{ page.url | replace:'/gist/','https://gist.github.com/' | remove:'.html' }}">{{ page.url | replace:'/gist/','gist#' | remove:'.html' }}</a>
{% if page.title %} {{ page.title }} {% endif %}
</h1>


{{ content }}


<div class="main">
<script src="{{ page.url | replace:'/gist/','https://gist.github.com/' | replace:'.html','.js' }}"></script>
</div>

</div>


</body>
</noframe>
</html>
